:root {
  --body-bg-color: #eeeeee;
  --primary-color: #1c2e4a;
  --primary-color-muted: #515b6b;
  --primary-color-hover: #3a5e97;
  --secondary-color: #657f8e;
  --background-hero-height: 550px;
}

/* # reset*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:visited {
  color: inherit;
}

img {
  width: 100%;
}

body {
  background-color: #eeeeee;
}

main {
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

/* # utilities */

.transparent-bg {
  background-color: transparent;
}

.alt-bg {
  background-color: var(--secondary-color);
}

.custom-bg {
  background-color: var(--primary-color);
}

.btn-custom {
  background-color: var(--primary-color);
  color: #f8f9fa;
}

.btn-custom:hover {
  background-color: var(--primary-color-hover);
  color: #f8f9fa;
}

#navbar-logo {
  height: 70px;
  width: 70px;
}

.footer-quote {
  font-style: italic;
  font-size: 15px;
}

.copyright {
  font-size: 10px;
  font-style: italic;
}

textarea.form-control {
  height: 38px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.text-custom-dark {
  color: var(--primary-color);
}

.text-custom-light {
  color: var(--body-bg-color);
}

.bg-custom-light {
  background-color: var(--body-bg-color);
}

.text-custom-small {
  font-style: italic;
  font-size: 0.8rem;
}

.text-custom-muted {
  color: var(--primary-color-muted);
}

/* # DEFAULT LAYOUT*/
.bg-header-dl {
  background-color: var(--secondary-color);
}

/* # SEARCH PAGE*/
#specialties-tags,
.specialties-doctors {
  margin: 30px 0px;
  padding: 20px 0px;
}

.tags-container {
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  animation: slide-in 1.5s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.doctors-row {
  position: relative;
  animation: slide-in-right 0.8s ease-out forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.tags {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 7px;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.tags:hover {
  background-color: var(--primary-color-hover);
  color: #f8f9fa;
}
.card-sd {
  width: 300px;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.btn.active {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

/* # homepage */

.background-hero {
  background-image: url("hero-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: var(--background-hero-height);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

#hero-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

#reviews-section {
  background-image: url("review-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.round-image-hp {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid rgb(150, 150, 150);
}

.cta-img {
  width: 400px;
}

/* # doctor-show-page */

.doctor-show-img {
  width: 500px;
}
